<ion-header>
  <ion-toolbar>
    <ion-buttons start class="search-button">
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="title">Bail Bonds</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="createBond()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item *ngFor="let bond of bonds | async" (click)="itemTapped($event, bond)">
      <ion-label *ngIf="bond.defendant">{{bond.defendant}}</ion-label>
      <ion-label *ngIf="bond.defendantLast">{{bond.defendantLast}}, {{bond.defendantFirst}}</ion-label>
      <ion-label text-center>$ {{bond.amount}}</ion-label>
      <ion-label text-right class="timestamp">{{bond.localTime | amDateFormat:'MM/DD/YYYY h:mm a'}}</ion-label>

      <!--<ion-label fixed>Power #</ion-label>-->
    </ion-item>

  </ion-list>

</ion-content>